.hero-section {
    background-color: #cdea68;
    min-height: 80vh;
  }
  
  /* Hero text */
  .hero-text {
    margin-top: 6rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 4rem;
  }
  
  .hero-heading {
    font-size: clamp(2rem, 6vw, 4rem);
    line-height: 1.1;
    font-weight: 700;
  }
  
  /* Image box in text */
  .hero-img-box {
    height: 5.5vw;
    border-radius: 12px;
    overflow: hidden;
    min-width: 60px;
  }

  .custom-divider {
    border-top: 2px solid #004d43;
  }