body {
    margin: 0;
    font-family: "Helvetica", sans-serif !important;
    background-color: #f4f4f5;
    color: #111;
  }

nav {
  font-size: 1.3rem;
  font-weight: 400;
}
nav .logo {
  font-size: 1.3rem;
  font-family: "Sen", sans-serif !important;
  font-weight: 400;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  transition: color 0.2s ease;
}
nav a:hover {
  color: #666;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
}


nav .contact a {
  font-weight: 500;
}